* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/637326316487704630/863444793707593728/unknown.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

textarea {
  color: #fff;
  border-color: transparent;
  background: url("https://cdn.discordapp.com/attachments/637326316487704630/864103126726737941/imageedit_1_8486162947.png");
  background-size: cover;
}

.logo-box {
  position: absolute;
  top: 6%;
  right: 5%;
}

.logo {
  height: 6rem;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.mainnotes {
  display: flex;
  flex-direction: column;
  background-color: #9b3912;
  border: 10px solid #cf794e;
  border-radius: 60px;
  position: fixed;
  top: 180px;
  bottom: 120px;
  left: 60px;
  width: 300px;
  z-index: 2;
}

.notes {
  list-style-type: decimal;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  border: 30px #ffffff;
  border-radius: 50px;
  max-width: 60%;
  z-index: 1;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  opacity: 0.8;
}
.main__videos {
  flex-grow: 1;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  justify-content: center;
  align-items: center;
}
.main__controls {
  display: flex;
  background-color: #86989e;
  color: #2e140e;
  padding: 5px;
  margin-bottom: 25px;
  margin-left: 10px;
  justify-content: space-between;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main__controls__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__controls__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: flex-end;
  padding-left: 250px;
}

.main__controls__button:hover {
  background-color: yellow;
  border-radius: 100px;
  transform: translateY(-3px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.main__controls__button:active {
  background-color: #000000;
  border-radius: 100px;
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.main__controls__button i {
  font-size: 20px;
}

.main__right {
  display: flex;
  flex-direction: column;
  background-color: #d68c66;
  border: 10px solid #cf794e;
  border-radius: 60px;
  position: fixed;
  top: 180px;
  bottom: 120px;
  right: 60px;
  width: 300px;
  z-index: 2;
}

.main__header {
  padding: 15px 0;
  color: #232946;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #cc6943;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

h6 {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  background: url("https://cdn.discordapp.com/attachments/637326316487704630/864103126726737941/imageedit_1_8486162947.png");
  background-size: cover;
}

.messages {
  list-style: none;
}
.message {
  margin-left: 5px;
  padding: 20px 40px;
  color: white;
  background-color: #1f0f08;
  border-radius: 100px;
  margin-top: 6px;
}

.main__message_container input {
  margin-bottom: 10px;
  margin-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  flex-grow: 1;
  background-color: #9b3912;
  border-radius: 100px;
  border: 1px solid #9b3912;
  color: #ffffff;
}

.leave_meeting {
  color: hsl(71, 83%, 61%);
}

.unmute,
.stop {
  color: #1a0a18;
}
.messages {
  list-style: none;
}

.main__message_container {
  color: black;
}
.login {
  text-decoration: none;
  border-radius: 2rem;
  background-color: #cc6943;
  padding: 0.5rem 3rem;
  transition: all 0.3s;
}

.login:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1.5rem rgba(202, 84, 25, 0.5);
}

.login:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.8rem rgba(13, 75, 146, 0.9);
}

.notes {
  list-style: none;
}

.leave_bro a {
  display: flex;
  align-items: flex-end;
  padding-left: 500px;
  color: yellow;
}
.cat {
  margin-left: 50px;
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  color: #2f160b;
}
